{% extends 'base.html' %}
{% block title %}
    Reset Password BotiSHOP
{% endblock %}
{% block body %}
    <form>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
        <button id="resetBtn">Reset Password</button>
        <a href="{{url_for('auth.login')}}">Ai cont? <span class="blue">Conectează-te</span></a>
        
    </form> 

    <script>
        $(document).ready(() => {
            $("#resetBtn").on('click', (event) => {
                event.preventDefault();

                const pass1 = $("#password").val();
                const pass2 = $("#confirm_password").val();

                $.ajax({
                    url: `{{url_for('auth.resetPasswordForm', user_id=user_id)}}`,
                    method: 'PUT',
                    data: JSON.stringify({'pass1': pass1, 'pass2': pass2}),
                    contentType: 'application/json',
                    success: (data) => {
                        window.location.href = `{{url_for('auth.login')}}`;
                    }, 
                    error: (error) => {
                        console.error('Error: ', error);
                    }
                });
            });
        });
    </script>
{% endblock %}